<div class="alert alert-info">
	<p>Here you can find information about all types, properties and methods available from a Cake script.</p>
</div>

<!-- ASSEMBLIES -->
@foreach(var assembly in Model.Assemblies)
{
	<div class="panel panel-default">
		<div class="panel-heading"><b>@Documentation.AssemblyName(assembly)</b></div>
		<table class="table table-bordered table-striped">
		    <tbody>		
			    @foreach(var @namespace in assembly.Namespaces.OrderBy(x => x.Identity))
			    {
			        <tr>
			            <td class="col-md-3">@Documentation.Link(@namespace)</td>
			            @if(@namespace.Summary != null)
			            {
			            	<td class="col-md-9">@Documentation.Comment(@namespace.Summary)</td>
			            }
			            else
			            {
			            	<td class="col-md-9">No summary for namespace.</td>
			            }
			        </tr>
			    }
		    </tbody>
		</table>	
	</div>
}